<h2>Księżyce <small>({{ store.filteredMoonsCount() }})</small></h2>

<div>
  Planeta:
  <button [class.active]="store.selectedPlanet() === ''" (click)="store.selectPlanet('')">Wszystkie</button>
  @for (planet of store.planets(); track planet) {
    <button [class.active]="store.selectedPlanet() === planet" (click)="store.selectPlanet(planet)">{{ planet }}</button>
  }

  Nazwa:
  <input type="text" (input)="store.filterQuery($any($event.target).value)">

  Sortuj:
  <button [class.active]="store.filter().order === 'asc'" (click)="store.filterOrder('asc')">Rosnąco</button>
  <button [class.active]="store.filter().order === 'desc'" (click)="store.filterOrder('desc')">Malejąco</button>
</div>

<table>
  <thead>
  <th>Obraz</th>
  <th>Nazwa</th>
  <th>Opis</th>
  <th>Linki</th>
  </thead>
  <tbody>
  @for (moon of store.filteredMoons(); track moon.id) {
    <tr>
      <td>
        <img class="thumbnail" [ngSrc]="moon.imageUrl" width="100" height="100">
      </td>
      <td>
        {{moon.name}}
      </td>
      <td>
        {{moon.description}}
      </td>
      <td>
        <a [routerLink]="['', {outlets: {browser: ['url', moon.wikiLink] }}]">Wikipedia</a>
      </td>
    </tr>
  }
  </tbody>
</table>
