<div class="nasa-viewer-menu">
  <label>Wybierz rodzaj:</label>
  @for (type of availableTypes(); track type) {
    <button [class.selected]="selectedType() === type" (click)="selectType(type)">{{ type }}</button>
  }
</div>

<div class="nasa-viewer-menu">
  <label>Wybierz obraz:</label>
  @for (image of availableImages(); track image) {
    <button [class.selected]="selectedImage() === image" (click)="selectImage(image)">{{ image }}</button>
  }
</div>

<img src="/assets/nasa/{{ selectedImage() }}.jpg" [alt]="selectedImage()">
