<nav>
  <a routerLink="/" class="app-name">Shell App</a>
  <a routerLink="/welcome">Welcome</a>
  <a routerLink="/launches">Launches</a>
  <a routerLink="/tiny-app">Tiny App</a>
</nav>

<router-outlet />
