<div>
  <div class="form-field inline">
    <label>Nazwa</label>
    <input type="text" [formControl]="formGroup().controls.name">
  </div>

    <div class="form-field inline">
      <label>Lokalizacja</label>
      <app-lab-moon-id-selector [formControl]="formGroup().controls.moonId"></app-lab-moon-id-selector>
    </div>
  </div>

<div>
  <div class="form-field inline">
    <label>
      <input type="checkbox" [formControl]="formGroup().controls.autonomous">
      laboratorium autonomiczne
    </label>
  </div>

  <div class="form-field inline">
    <label>
      <input type="checkbox" [formControl]="formGroup().controls.enableTags">
      włącz tagowanie
    </label>
  </div>
</div>
