@if (navigationVisible()) {
  <div class="header">
    <a routerLink="/start" routerLinkActive="active" *appIfFeatureEnabled="'start'">Space App</a>
    <a routerLink="/launches" routerLinkActive="active" *appIfFeatureEnabled="'launches'">Loty kosmiczne</a>
    <a routerLink="/labs" routerLinkActive="active" *appIfFeatureEnabled="'labs'">Laboratoria</a>
    <a routerLink="/moons" routerLinkActive="active" *appIfFeatureEnabled="'moons'">Księżyce</a>
    <a routerLink="/martian-calendar" routerLinkActive="active" *appIfFeatureEnabled="'martianCalendar'">Czas marsjański</a>
  </div>
}
<div class="container">
  <router-outlet></router-outlet>
  <small>{{appVersion}}</small>
  |
  @if (isSubscribed()) {
    <button (click)="revokeSubscription()">Wyłącz powiadomienia</button>
  } @else {
    <button (click)="requestSubscription()">Włącz powiadomienia</button>
  }
</div>

<router-outlet name="browser"></router-outlet>

@if (busy()) {
  <div class="loading">
    Trwa przetwarzanie danych...
  </div>
}

@if (updateAvailable()) {
  <div class="update">
    Dostępna aktualizacja aplikacji
    <button (click)="activateUpdate()">Aktywuj</button>
  </div>
}

@if (unrecoverableError()) {
  <div class="error">
    Wystąpił błąd krytyczny
    <button (click)="reloadApp()">Odśwież stronę</button>
  </div>
}

<a2s-comm></a2s-comm>
