<div>
  <div class="form-field inline">
    <label>Dokładność</label>
    <input type="number" [formControl]="formGroup().controls['precision']">
  </div>

  <div class="form-field inline">
    <label>Rok produkcji</label>
    <input type="number" [formControl]="formGroup().controls['productionYear']">
  </div>
</div>
