<h2>Wprowadzanie laboratorium</h2>

<div>
  <button type="button" routerLink="." routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Szczegóły</button>
  <button type="button" routerLink="." [queryParams]="{step: 'equipments'}" routerLinkActive="active">Wyposażenie</button>
</div>

<form [formGroup]="form()" (ngSubmit)="saveLab()">
  <div class="step-wrapper">
    @switch (step()) {
      @case ('equipments') {
        <app-lab-equipments-form [formArray]="form().controls.equipments"
          (equipmentAdd)="addEquipment($event)"
          (equipmentRemove)="removeEquipment($event)"/>
      }
      @default {
        <app-lab-details-form [formGroup]="form().controls.details"/>
      }
    }
  </div>

  <div>
    <button type="button" routerLink="../..">Anuluj</button>
    <button type="submit">Zapisz</button>
  </div>
</form>
