<cdk-virtual-scroll-viewport itemSize="168" minBufferPx="500" maxBufferPx="1000" class="launches-viewport">
<table>
  <thead>
  <tr>
    <th>Naszywka</th>
    <th>Nr lotu</th>
    <th>Misja</th>
    <th>Rakieta</th>
    <th>Sukces</th>
    <th>Data</th>
    <th>Miejsce</th>
    <th>Linki</th>
  </tr>
  </thead>
  <tbody *cdkVirtualFor="let launch of launches()" appLaunchesListItem [launch]="launch">
    <app-launch-details [details]="launch.details" (detailsUpdate)="updateDetails(launch, $event)"></app-launch-details>
  </tbody>
  @if (launches().length === 0) {
    <tr><td colspan="8">Nie znaleziono lotów</td></tr>
  }
</table>
</cdk-virtual-scroll-viewport>
