<tr>
  <td>
    @if (launch().missionPatch; as url) {
      <img class="thumbnail" [ngSrc]="url" width="100" height="100">
    }
  </td>
  <td>
    #{{launch().id}}
  </td>
  <td>
    {{launch().missionName}}
  </td>
  <td>
    {{launch().rocketName}}
  </td>
  <td>
    {{launch().success}}
  </td>
  <td>
    {{launch().launchDate | date : 'short'}}
  </td>
  <td>
    {{launch().launchSiteName}}
  </td>
  <td>
    @if (launch().links.videoLink; as url) {
      <a [href]="url" target="_blank">Video</a>
    }
    @if (launch().links.presskitLink; as url) {
      <a [routerLink]="['', {outlets: {browser: ['url', url]}}]">Presskit</a>
    }
    @if (launch().links.articleLink; as url) {
      <a [routerLink]="['', {outlets: {browser: ['url', url]}}]">Article</a>
    }
    @if (launch().links.wikipediaLink; as url) {
      <a [routerLink]="['', {outlets: {browser: ['url', url]}}]">Wikipedia</a>
    }
  </td>
</tr>
<tr>
  <td colspan="8">
    <ng-content select="app-launch-details"></ng-content>
  </td>
</tr>
