<h2>Czas marsjański</h2>

<ul>
  <li>Doba marsjańska (sol): 24 godziny, 39 minut, 35 sekund</li>
  <li>Rok marsjański trwa 669 sol'i czyli 686 dni ziemskich</li>
  <li>Rok marsjański dzieli się na 24 miesiące po 27/28 sol'i</li>
  <li>Więcej informacji <a href="http://ops-alaska.com/time/gangale_converter/calendar_clock.htm" target="_blank">Darian System</a></li>
</ul>

<p>
  Aktualna data i czas na marsie to: <strong>{{currentDate}}</strong>
</p>

<p>
  Ziemska data
  <input type="number" [formControl]="form.controls.year">
  <input type="number" [formControl]="form.controls.month">
  <input type="number" [formControl]="form.controls.date">
  to na Marsie: <strong>{{marsDate()}}</strong>
</p>
