<tr>
  <td>{{lab().details.name}}</td>
  <td>{{moonName.value()}}</td>
  <td>{{lab().details.autonomous}}</td>
  <td>{{lab().details.enableTags}}</td>
  <td>{{lab().equipments.length}}</td>
  <td>
    <ng-content select=".actions"></ng-content>
  </td>
</tr>
