<h2>Witaj w Space App</h2>

<div>
  Nawigacja:
  <button (click)="showNavigation()">Pokaż</button>
  <button (click)="hideNavigation()">Ukryj</button>
</div>
<section>
  <div class="logo-wrapper">
    <lib-logo></lib-logo>
  </div>
  <div  class="description-wrapper">
    Zapraszamy Cię do aktywnego przeglądania zasobów naszej organizacji. Znajdziesz w niej kompletną listę lotów
    SpaceX, a także będziesz mógł skatalogować nasze jednostki badawcze rozsiane w różnych zakątkach Układu Słonecznego.

    <div>
      @defer (on interaction) {
        <app-nasa-viewer/>
      } @loading (minimum 1s) {
        Trwa ładowanie NASA Viewer...
      } @error {
        Nie udało się załadować NASA Viewera
      } @placeholder {
        <button>Uruchom NASA Viewer</button>
      }
    </div>
  </div>
</section>
