@if (editorOpened()) {
  <div>
    <textarea #detailsInput autofocus>{{details()}}</textarea>
    <button type="button" (click)="closeEditor()">Anuluj</button>
    <button type="button" (click)="update(detailsInput.value)">Zapisz</button>
  </div>
} @else {
  <div class="read" (click)="openEditor()">{{formattedDetails()}}</div>
}
