<select [formControl]="planetControl" (blur)="onTouch()" (change)="onChange(null)">
  <option [ngValue]="null">Wybierz planetę</option>
  @for (planet of planetOptions(); track planet) {
    <option [ngValue]="planet">{{planet}}</option>
  }
</select>
<select [formControl]="moonIdControl" (blur)="onTouch()" (change)="onChange(moonIdControl.value)">
  <option [ngValue]="null">Wybierz księżyc</option>
  @for (moon of moonOptions(); track moon.id) {
    <option [ngValue]="moon.id">{{moon.name}}</option>
  }
</select>
