.form-field {
  margin: 10px 0;
}

.form-field.inline {
  display: inline-block;
}

.form-field.inline:not(:last-of-type) {
  margin-right: 10px;
}

.form-field label {
  display: block;
}

input, select, textarea {
  &.ng-invalid {
    border: 2px solid red;
  }
}

button {
  &.active {
    background-color: darkgrey;
  }
}
