<h2>Starty SpaceX</h2>

<app-launches-search [params]="queryParams()" (paramsChange)="searchLaunches($event)"/>

<app-resource-wrapper [resource]="launches">
  <app-launches-list [launches]="launches.value() ?? []" (launchDetailsUpdate)="updateLaunchDetails($event)"/>
</app-resource-wrapper>
