@if (formArray().enabled) {
  <select [formControl]="selectedEquipmentType">
    @for (equipmentType of EquipmentTypes | keyvalue; track equipmentType) {
      <option [value]="equipmentType.value">
        {{equipmentType.key}}
      </option>
    }
  </select>
  <button type="button" (click)="addEquipment()">Dodaj</button>
  @for (formGroup of formArray().controls; track formGroup; let index = $index) {
    <app-equipment-form [formGroup]="formGroup">
      <button type="button" class="remove-button" (click)="removeEquipment(index)">Usuń</button>
    </app-equipment-form>
  }
} @else {
  <p>Nie można zarządzać wyposażeniem gdy laboratorium jest autonomiczne.</p>
}
